<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	indexPageName="debategallery.html"

>
  <image imageURL="images/IMG_4025.jpg"
	thumbURL="thumbs/IMG_4025.jpg"
	linkURL="images/IMG_4025.jpg"
	linkTarget="_blank"
	sourcePath="F:\photos\Anubhab by SBHS\100CANON\IMG_4025.JPG">
    <title><![CDATA[IMG_4025]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4016.jpg"
	thumbURL="thumbs/IMG_4016.jpg"
	linkURL="images/IMG_4016.jpg"
	linkTarget="_blank"
	sourcePath="F:\photos\Anubhab by SBHS\100CANON\IMG_4016.JPG">
    <title><![CDATA[IMG_4016]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4270.jpg"
	thumbURL="thumbs/IMG_4270.jpg"
	linkURL="images/IMG_4270.jpg"
	linkTarget="_blank"
	sourcePath="F:\photos\Anubhab by SBHS\100CANON\IMG_4270.JPG">
    <title><![CDATA[IMG_4270]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4028.jpg"
	thumbURL="thumbs/IMG_4028.jpg"
	linkURL="images/IMG_4028.jpg"
	linkTarget="_blank"
	sourcePath="F:\photos\Anubhab by SBHS\100CANON\IMG_4028.JPG">
    <title><![CDATA[IMG_4028]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4292.jpg"
	thumbURL="thumbs/IMG_4292.jpg"
	linkURL="images/IMG_4292.jpg"
	linkTarget="_blank"
	sourcePath="F:\photos\Anubhab by SBHS\100CANON\IMG_4292.JPG">
    <title><![CDATA[IMG_4292]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4297.jpg"
	thumbURL="thumbs/IMG_4297.jpg"
	linkURL="images/IMG_4297.jpg"
	linkTarget="_blank"
	sourcePath="F:\photos\Anubhab by SBHS\100CANON\IMG_4297.JPG">
    <title><![CDATA[IMG_4297]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4305.jpg"
	thumbURL="thumbs/IMG_4305.jpg"
	linkURL="images/IMG_4305.jpg"
	linkTarget="_blank"
	sourcePath="F:\photos\Anubhab by SBHS\100CANON\IMG_4305.JPG">
    <title><![CDATA[IMG_4305]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4306.jpg"
	thumbURL="thumbs/IMG_4306.jpg"
	linkURL="images/IMG_4306.jpg"
	linkTarget="_blank"
	sourcePath="F:\photos\Anubhab by SBHS\100CANON\IMG_4306.JPG">
    <title><![CDATA[IMG_4306]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4033.jpg"
	thumbURL="thumbs/IMG_4033.jpg"
	linkURL="images/IMG_4033.jpg"
	linkTarget="_blank"
	sourcePath="F:\photos\Anubhab by SBHS\100CANON\IMG_4033.JPG">
    <title><![CDATA[IMG_4033]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4149.jpg"
	thumbURL="thumbs/IMG_4149.jpg"
	linkURL="images/IMG_4149.jpg"
	linkTarget="_blank"
	sourcePath="F:\photos\Anubhab by SBHS\100CANON\IMG_4149.JPG">
    <title><![CDATA[IMG_4149]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4154.jpg"
	thumbURL="thumbs/IMG_4154.jpg"
	linkURL="images/IMG_4154.jpg"
	linkTarget="_blank"
	sourcePath="F:\photos\Anubhab by SBHS\100CANON\IMG_4154.JPG">
    <title><![CDATA[IMG_4154]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4163.jpg"
	thumbURL="thumbs/IMG_4163.jpg"
	linkURL="images/IMG_4163.jpg"
	linkTarget="_blank"
	sourcePath="F:\photos\Anubhab by SBHS\100CANON\IMG_4163.JPG">
    <title><![CDATA[IMG_4163]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4170.jpg"
	thumbURL="thumbs/IMG_4170.jpg"
	linkURL="images/IMG_4170.jpg"
	linkTarget="_blank"
	sourcePath="F:\photos\Anubhab by SBHS\100CANON\IMG_4170.JPG">
    <title><![CDATA[IMG_4170]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4173.jpg"
	thumbURL="thumbs/IMG_4173.jpg"
	linkURL="images/IMG_4173.jpg"
	linkTarget="_blank"
	sourcePath="F:\photos\Anubhab by SBHS\100CANON\IMG_4173.JPG">
    <title><![CDATA[IMG_4173]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4184.jpg"
	thumbURL="thumbs/IMG_4184.jpg"
	linkURL="images/IMG_4184.jpg"
	linkTarget="_blank"
	sourcePath="F:\photos\Anubhab by SBHS\100CANON\IMG_4184.JPG">
    <title><![CDATA[IMG_4184]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4197.jpg"
	thumbURL="thumbs/IMG_4197.jpg"
	linkURL="images/IMG_4197.jpg"
	linkTarget="_blank"
	sourcePath="F:\photos\Anubhab by SBHS\100CANON\IMG_4197.JPG">
    <title><![CDATA[IMG_4197]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4229.jpg"
	thumbURL="thumbs/IMG_4229.jpg"
	linkURL="images/IMG_4229.jpg"
	linkTarget="_blank"
	sourcePath="F:\photos\Anubhab by SBHS\100CANON\IMG_4229.JPG">
    <title><![CDATA[IMG_4229]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4240.jpg"
	thumbURL="thumbs/IMG_4240.jpg"
	linkURL="images/IMG_4240.jpg"
	linkTarget="_blank"
	sourcePath="F:\photos\Anubhab by SBHS\100CANON\IMG_4240.JPG">
    <title><![CDATA[IMG_4240]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4271.jpg"
	thumbURL="thumbs/IMG_4271.jpg"
	linkURL="images/IMG_4271.jpg"
	linkTarget="_blank"
	sourcePath="F:\photos\Anubhab by SBHS\100CANON\IMG_4271.JPG">
    <title><![CDATA[IMG_4271]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4308.jpg"
	thumbURL="thumbs/IMG_4308.jpg"
	linkURL="images/IMG_4308.jpg"
	linkTarget="_blank"
	sourcePath="F:\photos\Anubhab by SBHS\100CANON\IMG_4308.JPG">
    <title><![CDATA[IMG_4308]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>